* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #18191a;
}
.upperbody {
  display: flex;
  justify-content: center;
  margin: 10px 30px;
  /* height: 100vh; */
  font-family: sans-serif;
}
#toptext {
  font-size: 30px;
  font-family: sans-serif;
  position: relative;
  top: 60px;
  display: none;
}

.container {
  margin: auto;
  height: 400px;
  background-color: #3498db;
  width: 500px;
  position: relative;
  top: 80px;
  text-align: center;
  border: 30px solid rgb(54, 40, 40);
  /* border-radius: 50px; */
  overflow: hidden;
}

.inner-container {
  height: 100%;
  width: 100%;
  transform: skew(10deg);
}
.menu {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 40px;
}
.accno {
  position: relative;
  top: 70px;
  padding: 10px;
  width: 60%;
  margin: 20px auto; 
  font-size: 16px;
  border: 2px solid #3498db; 
  border-radius: 5px;
  outline: none; 
}

.menu input {
  background-color: #2c3e50;
    color: white;
    padding: 10px;
    font-size: 11px;
    margin: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    right: 35px;
}

.subbtn {
  position: relative;
  top: 80px;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  background-color: #444;
  color: #ffff;
  transition: 0.5s;
  text-transform: uppercase;
}

.menu  {
  display: none;
 

}
#pass {
  display: none;
}
#passbtn {
  display: none;
}
#amount {
  display: none;
}
#withdraw_btn {
  display: none;
}
#credit_btn {
  display: none;
}
#accno {
  display: none;
}

#accbtn {
  display: none;
}
#insert_btn {
  position: absolute;
  top: 132px;
  left: 131px;
}
#transfer_btn{
  display: none;
}
.lowerbody{
display: flex;
justify-content: center;
padding: 10px;
border-radius: 10px;

  
}
.lowercontainer{
position: relative;
top: 80px;
height: 400px;
width: 400px;
background-color: #7e7878;
display: flex;
justify-content: center;


}
/* .btn{
  width: 50px;
  height: 50px;
  margin: 5px;
} */

.calbutton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.btn {
  width: 60px;
  height: 60px;
  font-size: 28px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px 2px;
}
.btn:hover {
  background-color: #ddd;
} 
    .cancel {
        background-color: #e74c3c; 
    }

    .reset {
        background-color: #3498db; 
    }

    .equal {
        background-color: #2ecc71; 
    }

   
    .btn.cancel,
    .btn.reset,
    .btn.equal {
        color: #fff;
    }

    .btn.cancel:hover,
    .btn.reset:hover,
    .btn.equal:hover {
        background-color: #d9534f; 
    }

    .btn.reset:hover {
        background-color: #2980b9; 
    }

    .btn.equal:hover {
        background-color: #27ae60; 
    }

.bigbtn{
  width: 70px;
  font-size: 17px;
}
#amount{
  display: none;
  position: relative;
  top: 70px;
 
}
#transfer_btn{
  position: relative;
  
}